.VictoryContainer {
  margin-top: -45px;
}

.VictoryContainer svg g text tspan {
  font-family: 'Manrope', sans-serif !important;
}

.VictoryContainer div svg text tspan {
  font-family: 'Manrope', sans-serif !important;
}

.pie-chart {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.chart-container {
  width: 95%; 
  margin: 0 auto; 
  overflow: visible;
  padding: 20px;
}