.create-budget-options {
  font-size: 1.25em;
  text-align: center;
  position: relative;
}

form.create-budget {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--main-border-color);
  position: relative;
}

.create-budget-options input {
  margin: 0 10px;
}

.create-budget input[type="text"] {
  flex: 30;
  font-size: 1.25em;
  padding: 20px 15px;
}

.create-budget input[type="submit"] {
  min-width: 45px;
  flex: 1;
  font-size: 2.5em;
  padding: 0 0 5px 0;
  margin-top: -8px;
}