@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

html,
body,
main,
header,
section,
div,
span,
form,
input,
select,
button,
ul,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

body,
main,
section,
div,
span,
button,
img,
svg,
ul,
ol,
li,
h1,
h2,
h3,
h4,
p {
  transition: background-color 1.5s ease-in-out,
    color 0.5s ease-in-out,
    filter 1.5s ease-in-out,
    border 1.5s ease-in-out;
}

body,
main {
  width: 100%;
}

body {
  font-family: 'Manrope', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.wrapper {
  margin: 0 auto;
  padding: 30px 0;
  min-width: 350px;
  max-width: 750px;
  color: var(--main-text-color);
  position: relative;
}

h1 {
  font-weight: 500;
  font-size: 1.25em;
  font-family: 'Heebo', sans-serif;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25;
  padding: 30px 0;
  margin-bottom: 0;
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.25;
}

h4 {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 30px;
  line-height: 1.25;
}

p {
  padding: 5px 0;
}

li {
  list-style: none;
}

button,
input[type="submit"],
select {
  cursor: pointer;
}

input,
select,
button {
  line-height: 1.25;
}

select {
  appearance: none;
  border-bottom: 1px solid var(--main-border-color);
  padding: 0 15px;
}

input:focus {
  outline: none;
}

input[type="date"] {
  border-bottom: 1px solid var(--main-border-color);
}

input[type="date"]:disabled {
  opacity: 0.6;
}

button:disabled {
  cursor: auto;
  opacity: 0.6;
}

::placeholder {
  color: var(--main-disabled-color);
  opacity: 0.8;
}

::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 450px) {
  body {
    font-size: 16px;
  }

  .wrapper {
    padding: 60px 0;
  }

  h2 {
    margin-bottom: 30px;
  }
}