body {
  margin: 0 auto;
  padding: 0;
  min-width: 350px;
  max-width: 750px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {

}

header {
  font-size: 1em;
  padding: 15px 0;
  text-align: right;
}

h1 {
  font-weight: bold;
  font-size: 1.25em;
}

form.create-budget {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.create-budget input[type="text"] {
  flex: 30;
  font-size: 1.25em;
  padding: 20px 10px;
}

.create-budget input[type="submit"] {
  min-width: 45px;
  flex: 1;
  font-size: 2.5em;
  padding: 0 0 5px 0;
  margin-top: -8px;
}

.budgets-menu {
  width: 100%;
  min-height: 500px;
  padding: 30px;
  font-size: 1.25em;
}

.budgets-menu ul {
  margin-bottom: 60px;
}

.budgets-menu li {
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.budget-menu-item {
  width: 100%;
}

.budget-menu-item-details {
  margin-left: 15px;
  cursor: pointer;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.budget-menu-item-details .budget-name {
  margin-left: 15px;
}

.budget-menu-item-details .budget-tracking {
  float: right;
}

.budget-menu-item .start-date {
  text-align: right;
  font-size: 0.75em;
}

.flex-horizontal {
  display: flex;
  justify-content: flex-start;
}

.budget-total {
  text-align: right;
}

.label {
  margin-right: 10px;
}

.dash-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.no-items {
  text-align: center;
  padding: 30px;
}

p {
  padding: 5px 0;
}