body {
  margin: 0 auto;
  min-width: 350px;
  max-width: 750px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 30px 0;
}

header {
  font-size: 1em;
  padding: 15px 0;
  text-align: right;
}

h1 {
  font-weight: bold;
  font-size: 1.25em;
}

form.create-budget, form.simple-expenditure-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.create-budget {
  border-bottom: 1px solid gray;
}

form.simple-expenditure-form {
  border-top: 1px solid gray;
}

.create-budget input[type="text"], .simple-expenditure-form input[type="text"] {
  flex: 30;
  font-size: 1.25em;
  padding: 20px 10px;
}

.create-budget input[type="submit"], .simple-expenditure-form input[type="submit"] {
  min-width: 45px;
  flex: 1;
  font-size: 2.5em;
  padding: 0 0 5px 0;
  margin-top: -8px;
}

.budgets-menu, .single-budget {
  width: 100%;
  min-height: 500px;
  padding: 30px;
  font-size: 1.25em;
}

.budgets-menu ul {
  margin-bottom: 60px;
}

.budgets-menu li {
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.budget-menu-item {
  width: 100%;
}

.budget-menu-item-details {
  cursor: pointer;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.budget-menu-item-details .budget-name {
  margin-left: 15px;
}

.budget-menu-item-details .budget-tracking {
  float: right;
}

.budget-menu-item .start-date {
  text-align: right;
  font-size: 0.75em;
}

.flex-horizontal {
  display: flex;
  justify-content: flex-start;
}

.budget-total {
  text-align: right;
  font-weight: bold;
}

.label {
  margin-right: 10px;
}

.dash-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
}

.no-items {
  text-align: center;
  padding: 30px;
}

.start-date {
  color: #595959;
}

.not-started {
  color: gray;
  cursor: auto;
}

p {
  padding: 5px 0;
}

input:focus {
  outline: none;
}

.error {
  color: #d90d0d;
  padding: 10px 0;
}

.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 100;
}

.modal {
  min-width: 350px;
  width: 80%;
  min-height: 450px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 30px 0;
  margin-bottom: 30px;
}

.create-budget-options {
  font-size: 1.25em;
  text-align: center;
}

.modal input[type="text"], .settings input[type="text"] {
  border-bottom: 1px solid gray;
  margin: 10px;
}

.modal div {
  margin-bottom: 30px;
}

input[type="text"].currency {
  width: 2em;
}

input[type="text"].amount {
  width: 5em;
}

select {
  appearance: none;
  border-bottom: 1px solid gray;
  padding: 0 15px;
}

input[type="date"] {
  border-bottom: 1px solid gray;
  padding: 0 10px;
  margin: 0 10px;
}

input[type="date"]:disabled {
  color: gray;
}

.modal .buttons {
  display: flex;
  justify-content: space-around;
}

.modal .buttons button, .modal .buttons input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  width: 100px;
  text-align: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: bold;
}

.budget-settings {
  text-align: center;
}

.modal .name-input {
  width: 50%;
}

.large-submit {
  background-color: #000;
  color: #fff;
  width: 50%;
  padding: 15px 0;
  text-align: center;
}

.special-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.special-buttons button {
  padding: 15px 0;
  width: 100px;
  border-radius: 6px;
}

button.archive-btn {
  border: 2px solid #0075dd;
  color: #0062b9;
}

button.delete {
  border: 2px solid #d90d0d;
  color: #d90d0d;
}

.confirm {
  text-align: left;
  font-size: 0.8em;
}

.confirm input[type="submit"], .confirm button {
  padding: 10px 15px 3px 10px;
  margin: 0 30px;
  border-bottom: 1px dotted black;
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 0 15px 15px 0;
}

.settings, .archive {
  /* position: relative; */
  width: 85%;
  margin: auto; 
  font-size: 1.25em;
}

.settings div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}

.settings input[type="text"] {
  text-align: center;
  width: 6em;
}

.explainer {
  color: gray;
  font-size: 0.8em;
  font-style: italic;
  margin-top: -30px;
}

.settings input[type="submit"] {
  margin: 90px auto 0 auto;
  display: block;
}

.settings .buttons {
  display: block;
}

.import-export {
  display: block;
  margin: 30px 0;
  padding: 15px 0 0 0;
  border-bottom: 1px dotted black;
  font-size: 0.8em;
}

.settings .modal {
  display: block;
  text-align: center;
}

.settings .modal p {
  font-size: 1.25em;
}

.settings .special-buttons button {
  font-size: 0.8em;
  background-color: #000;
  color: #fff;
  width: 175px;
}

.archive ul li {
  position: relative;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 15px 0;
  margin-top: 30px;
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.archive .delete {
  position: absolute;
  top: 15px;
  right: 0;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 0.75em;
}

.archive ul li p:last-of-type {
  margin-bottom: 15px;
}

.archive-results {
  margin-top: 30px;
}

.archive-results p {
  display: flex;
  justify-content: space-between;
}

.negative-tracking {
  color:  #d90d0d;
}

.positive-tracking {
  color: #007d00;
}

.single-budget {
  position: relative;
}

.charts-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.single-budget h2 {
  margin-bottom: 0;
}

.goal, .total-tracking {
  display: block;
  text-align: right;
  margin-bottom: 10px;
}

.absolute {
  position: absolute;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  background-color: #fff;
}
.expenditure-form {
  text-align: center;
}

.expenditure-form .expense-title, .expense-amount {
  display: block;
  margin: 30px auto !important;
  text-align: center;
}

.expenditure-form .expense-title {
  width: 15em;
}

.expense-date {
  margin: auto;
  width: 321px;
}

.currency {
  font-size: 1.25em;
}

.expenses {
  margin: 60px 0;
}

.expenses h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.old-expenses {
  margin-top: 30px;
}

.period:first-of-type {
  padding-top: 0;
}

.period {
  padding: 15px;
}

.load-more {
  margin-bottom: 60px;
}

button:disabled {
  cursor: auto;
  color: gray;
}

.no-expenses {
  text-align: center;
  color: gray;
  margin-bottom: 30px;
}

.period-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.85em;
}

.period-expense li {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

.period-expense li span {
  display: flex;
  /* justify-content: space-between; */
  flex: 25;
}

.delete-expense {
  flex: 1;
  font-weight: bold;
}

.expense-title {
  justify-content: center;
}

.expense-spent {
  justify-content: flex-end;
}

.banner {
  border-bottom: 1px solid gray;
  margin-bottom: 60px;
}

.banner h2 {
  margin: 0;
}