html, body, header, section, div, form, input, button, ul, ol, p, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  font: inherit;
  color: inherit;
}

li {
  list-style: none;
}

button, input[type="submit"] {
  cursor: pointer;
}